<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealRanking - 대학순위</title>
    <th:block th:replace="fragment/config :: configFragment" ></th:block>
    <style>
        table{
            border-collapse: collapse;
            border-color: rgb(161, 161, 161);
            width: 500px;
            text-align: center;
            height: 800px;
            margin: 0 auto;
        }
        p{
            text-align: center;
            font-size: 0.9em;
            color: rgb(156, 156, 156);
        }
        tr:first-child{
            background-color: rgb(240, 190, 130);
        }

    </style>
</head>
<body>
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <section>
        <div id="sectionDiv">
            <p>2021 QS World University Rankings 참조</p>
            <table border="1">
                <tr>
                    <th>국제 순위</th>
                    <th>국내 순위</th>
                    <th>대학</th>
                </tr>
                <tr th:each="vo : ${list}">
                    <td th:text="${vo.foreign}"></td>
                    <td th:text="${vo.domestic}"></td>
                    <td th:text="${vo.uniName}"></td>
                </tr>
                
            </table>
        </div>

    </section>
    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>